<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<script src="{% static 'jquery3.3.1.min.js' %}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'main.js' %}"></script>
	<script src="{% static 'doodle.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	<link rel="manifest" href="{% static 'icon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#00b32d">
	<meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="bamboo"></div>
	<div class="main">
		<nav class="navbar">
			<div class="navwrap">
				<div class="nav-left">
					<a class="navbar-brand" href="/" title="Home">NelNorris.com</a>
				</div>
				<div class="nav-right">
					<div id="nav-dropdown">
						<div class="navblob"></div>
						<div class="navblob"></div>
						<div class="navblob"></div>
					</div>
					<ul role="navigation" class="navbar-nav">
						<li><a href="/blog">Blog</a></li>
						<li><a href="/doodle">2014 Doodle</a></li>
						<li><a href="/archive">Post Archive</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<header>
			{% block pagetitle %}
			{% endblock %}
		</header>
		<main>
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
		</main>
		<footer>
			<ul class="social" role="navigation">
				<li>
					<a href="https://twitter.com/NelNorris" title="Twitter" aria-label="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/elizabeth-norris-217b9698/" title="LinkedIn" aria-label="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
				</li>
				<li>
					<a href="https://github.com/NelNorris" title="Github" aria-label="Github" target="_blank"><i class="fa fa-github-alt"></i></a>
				</li>
				<li>
					<a href="https://soundcloud.com/nellie-norris" title="Soundcloud" aria-label="Soundcloud" target="_blank"><i class="fa fa-soundcloud"></i></a>
				</li>
			</ul>
		</footer>
	</div>
</body>
</html>