<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'doodle.js' %}"></script>
	<link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png' %}" sizes="32x32" href="{% static 'icon/favicon-32x32.png">
	<link rel="icon" type="image/png' %}" sizes="96x96" href="{% static 'icon/favicon-96x96.png">
	<link rel="icon" type="image/png' %}" sizes="16x16" href="{% static 'icon/favicon-16x16.png">
	<link rel="manifest" href="{% static 'icon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="bamboo"></div>
	<div class="container-fluid main">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					    	<i class="fa fa-angle-down"></i>
					    </button>
						<a class="navbar-brand" href="/" title="Home">NelNorris.com</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="nav navbar-nav">
							<li><a href="/blog">Blog</a></li>
							<li><a href="/doodle">2014 Doodle</a></li>
							<li><a href="/archive">Post Archive</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<header>
			<div class="container">
				<div class="row">
					{% block pagetitle %}
					{% endblock %}
				</div>
			</div>
		</header>
		<main>
			<div class="container content">
				<div class="row">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</main>
		<footer>
			<div class="container-fluid">
				<div class="row">
					<p class="social">
						<a href="https://twitter.com/NelNorris" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/in/elizabeth-norris-217b9698/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						<a href="https://github.com/NelNorris" title="Github" target="_blank"><i class="fa fa-github-alt"></i></a>
						<a href="https://soundcloud.com/nellie-norris" title="Soundcloud" target="_blank"><i class="fa fa-soundcloud"></i></a>
					</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>