{% extends 'home/index.html' %}

{% block title %}
	{{ post.title }} | Nel Norris
{% endblock %}

{% block pagetitle %}
	<h1>Blog</h1>
{% endblock %}

{% block content %}
	<article>
		<div class="post">
			<header>
				<h3>{{ post.title }}</h3>
			</header>
			{% if post.published_date %}
				<p class="date">{{ post.published_date }}</p>
			{% endif %}
			{{ post.text|safe }}
			<br />
			<p class="return"><a href="/blog">Back to blog &nbsp; <i class="fa fa-angle-double-right"></i></a></p>
		</div>
	</article>
{% endblock %}