html {
	height: 100%;
	body {
		background-color: $backgroundcolour;
		color: $maintextcolour;
		position: relative;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		.main {
			position: relative;
			left: 0;
			top: 0;
			min-height: 100%;
			border-bottom: $border_thick solid $brandcolour;
		}
		.bamboo {
			position: fixed;
			right: 0;
			bottom: 0;
			background: url($bamboo) no-repeat;
			background-position: right bottom;
			width: 20%;
			height: 100%;
			background-size: 100% auto;
		}
		p, li {
			font-family: $bodytext;
			line-height: $ml_font;
		}
		h1 {
			font-family: $headtext;
		}
		h2 {
			font-family: $brandtext;
		}
		h3, h4, h5, h6 {
			font-family: $subhead;
		}
		h1, h2 {
			text-align: center;
		}
		a {
			text-decoration: none;
			color: $anchorcolour;
			@include transition(color 0.35s);
			&:hover {
				text-decoration: none;
				color: $anchoraccent;
				@include transition(color 0.35s);
			}
			&:focus {
				text-decoration: none;
				color: $anchoraccent;
				@include transition(color 0.35s);
			}
			&:active {
				text-decoration: none;
				color: $anchoraccent;
				@include transition(color 0.35s);
			}
		}
		br {
			font-family: sans-serif;
		}
		.emph {
			text-transform: uppercase;
		}
		.date {
			font-size: $s_font;
			color: $subheadlight;
			margin: 0 0 $m_space;
		}
		.small {
			font-size: $s_font;
			margin-top: $xxs_space;
		}
	}
}

nav.navbar {
	font-family: $subhead;
	border-bottom: $border_thick solid $contrastcolour;
	.navwrap {
		width: 100%;
		max-width: $central_container;
		margin: 0 auto;
		display: grid;
		grid-template-columns: minmax(110px, 1fr) 50%;
		grid-gap: 0 $l_space;
	}
	.nav-left {
		text-align: left;
		line-height: $navheight;
		background: url($panda) no-repeat;
		background-size: $navpanda $navpanda;
		background-position: $navpandapad $navpandapad;
		a {
			padding-left: $navheight;
			display: block;
			font-family: $brandtext;
			font-size: $xl_font;
		}
	}
	.nav-right {
		text-align: center;
		#nav-dropdown {
			display: none;
		}
		.navbar-nav {
			list-style: none;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0;
			padding: 0;
			line-height: $navheight;
			li {
				vertical-align: middle;
				display: inline-block;
				font-family: $headtext;
				a {
					color: $subheadcolour;
					text-decoration: none;
					padding: $xxl_space $l_space;
					@include transition(color 0.35s);
					&:hover {
						text-decoration: underline;
						color: $anchoraccent;
						@include transition(color 0.35s);
					}
					&:focus {
						text-decoration: underline;
						color: $anchoraccent;
						@include transition(color 0.35s);
					}
					&:active {
						text-decoration: underline;
						color: $anchoraccent;
						@include transition(color 0.35s);
					}
				}
			}
		}
	}
}

header {
	h1 {
		margin: $big_space auto $l_space;
	}
}

main {
	opacity: 0.99;
	.content {
		background: $translucent;
		border-radius: $m_space;
		border: $border_thick solid $bordercolour;
		margin: 0 auto $navheight;
		padding: $xxl_space;
		width: 100%;
		max-width: $central_container;
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	margin-top: $m_font;
	.social {
		text-align: center;
		list-style: none;
		li {
			display: inline-block;
		}
		i {
			margin-right: $m_font;
			font-size: $l_font;
		}
	}
}