@media screen and (max-width: 768px) {
	nav.navbar {
		font-family: $subhead;
		border-bottom: $border_thick solid $contrastcolour;
		.navwrap {
			width: 100%;
			max-width: $central_container;
			margin: 0 auto;
			display: grid;
			grid-template-columns: minmax(110px, 1fr) 50%;
			grid-gap: 0 $l_space;
		}
		.nav-right {
			text-align: center;
			position: relative;
			#nav-dropdown {
				display: block;
				height: 24px;
				margin: $xxl_space $xxl_space 0 0;
				float: right;
				cursor: pointer;
				position: relative;
				width: $xxl_space;
				.navblob {
					opacity: 1;
					position: absolute;
					height: 5px;
					margin-bottom: 6px;
					top: 0;
					right: 0;
					left: 0;
					background-color: $brandcolour;
					@include transition(all 0.35s);
					&:nth-of-type(2) {
						top: 50%;
					}
					&:nth-of-type(3) {
						top: 100%;
					}
				}
				&.dropped {
					.navblob:nth-of-type(1) {
						@include transform(rotate(45deg));
						top: 50%;
					}
					.navblob:nth-of-type(2) {
						opacity: 0;
					}
					.navblob:nth-of-type(3) {
						@include transform(rotate(-45deg));
						top: 50%;
					}
				}
			}
			.navbar-nav {
				position: absolute;
				top: 100%;
				right: 0;
				display: none;
				list-style: none;
				text-transform: uppercase;
				font-weight: bold;
				@include border-radius(0 0 0 $xxs_space);
				border-left: 1px solid $contrastcolour;
				border-bottom: 1px solid $contrastcolour;
				border-top: 2px solid $contrastcolour;
				box-shadow: -2px 6px 10px 2px $bordercolour;
				background-color: $backgroundcolour;
				height: 0;
				opacity: 0;
				margin: 0;
				padding: 0;
				line-height: $big_space;
				z-index: 1;
				li {
					vertical-align: middle;
					display: block;
					font-family: $headtext;
					border-bottom: 1px solid $contrastcolour;
					height: 0;
					@include transition(all 0.35s);
					a {
						display: block;
						padding: $l_space $xxl_space;
					}
					&:last-child {
						border-bottom: 0;
					}
				}
				&.drop {
					display: block;
					opacity: 1;
					height: auto;
					li {
						height: auto;
					}
				}
			}
		}
	}
	header {
		background: $translucent;
		border-bottom: $border_thick solid $contrastcolour;
		padding: $xxl_space;
		h1 {
			margin: 0;
		}
	}
	main {
		padding: 0 $l_space;
		header {
			padding: 0 0 $xxs_space;
		}
		.container {
			margin-top: 0;
			border-radius: 0;
			border: 0;
			background: transparent;
			padding: $xxl_space 0;
			.content {
				padding: 0;
			}
		}
		.update {
			padding-top: $xxl_space;
		}
		.post {
			header {
				background: transparent;
				border-bottom: 0;
			}
			.return {
				a {
					background-color: $anchoraccent;
					color: $backgroundcolour;
				}
			}
			img {
				width: 100%;
				max-width: 500px;
				height: auto;
			}
			.caption {
				font-size: $m_font;
			}
		}
		.return {
			a {
				background-color: $anchoraccent;
				color: $backgroundcolour;
			}
		}
		.doodle {
			.panel {
				padding: $m_font;
			}
			.calendar-display {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	nav.navbar {
		.navwrap {
			.nav-left {
				.navbar-brand {
					font-size: $ml_font;
				}
			}
		}
	}
	main {
		padding: 0 $m_space;
	}
}