@media screen and (max-width: 768px) {
	nav.navbar {
		font-family: $subhead;
		border-bottom: $border_thick solid $contrastcolour;
		.navwrap {
			width: 100%;
			max-width: $central_container;
			margin: 0 auto;
			display: grid;
			grid-template-columns: minmax(110px, 1fr) 50%;
			grid-gap: 0 $l_space;
		}
		.nav-right {
			text-align: center;
			#nav-dropdown {
				display: block;
				width: 45px;
				height: $xl_space;
				margin: $xl_space $m_space;
				float: right;
				position: relative;
				cursor: pointer;
				.navblob {
					position: absolute;
					width: $m_space;
					height: $m_space;
					@include border-radius(50%);
					top: 0;
					right: 0;
					left: 0;
					background-color: $articlelight;
					@include transition(top 0.35s);
					@include transition(background-color 0.35s);
					&:nth-of-type(2) {
						top: 50%;
					}
					&:nth-of-type(3) {
						top: 100%;
					}
				}
				&.dropped {
					.navblob {
						background-color: $anchoraccent;
					}
				}
			}
			.navbar-nav {
				display: none;
				list-style: none;
				text-transform: uppercase;
				font-weight: bold;
				height: 0;
				opacity: 0;
				margin: 0;
				padding: 0;
				line-height: $navheight;
				li {
					vertical-align: middle;
					display: block;
					font-family: $headtext;
					height: 0;
					@include transition(height 0.35s);
				}
				&.drop {
					display: block;
					li {
						height: auto;
						@include transition(height 0.35s);
					}
				}
			}
		}
	}
	header {
		background: $translucent;
		border-bottom: $border_thick solid $contrastcolour;
		padding: $xxl_space;
		h1 {
			margin: 0;
		}
	}
	main {
		padding: 0 $xxl_space;
		.content {
			margin-top: 0;
			border-radius: 0;
			border: 0;
			background: transparent;
			padding: $xxl_space 0;
		}
		.update {
			padding-top: $xxl_space;
		}
		.post {
			header {
				background: transparent;
				border-bottom: 0;
			}
			.return {
				a {
					background-color: $anchoraccent;
					color: $backgroundcolour;
				}
			}
			img {
				width: 100%;
				max-width: 500px;
				height: auto;
			}
			.caption {
				font-size: $m_font;
			}
		}
		.doodle {
			.panel {
				padding: $m_font;
			}
			.calendar-display {
				display: none;
			}
		}
	}
}