// Colours

$pandablack: #000000;
$backgroundcolour: #ffffff;
$maintextcolour: #333333;
$articlecolour: #616161;
$articlelight: #717171;
$subheadcolour: #444444;
$subheadlight: #666666;
$subheaddark: #008040;
$brandcolour: #00b32d;
$brandlight: #1b1b7e;
$contrastcolour: #f2e6d9;
$contrastdark: #d2a679;
$anchorcolour: #a36629;
$anchoraccent: #3434b7;
$bordercolour: #e7e7e7;
$translucent: rgba(235,235,225,0.5);

// Fonts
$bodytext: Lato, verdana, sans-serif;
$headtext: Josefin Slab, courier, serif;
$brandtext: Lobster, courier, cursive;
$subhead: Karla, courier, serif;

// Font size
$xs_font: 0.6rem;
$s_font: 0.7rem;
$m_font: 1rem;
$mm_font: 1.1rem;
$mmm_font: 1.2rem;
$ml_font: 1.5rem;
$l_font: 2rem;
$xl_font: 2.4rem;
$xxl_font: 2.8rem;

// Spacing
$xxs_space: 4px;
$xs_space: 5px;
$s_space: 8px;
$m_space: 10px;
$l_space: 18px;
$xl_space: 28px;
$xxl_space: 40px;
$big_space: 80px;

$central_container: 750px;

// Elements
$navheight: 110px;
$navpanda: 90px;
$navpandapad: ($navheight - $navpanda) / 2;

// Border
$border_thin: 1px;
$border_thick: 2px;

// Images
$panda: '../panda_place.jpg';
$bamboo: '../bamboo_place.jpg';

// Mixins
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}