html {
  height: 100%;
}
html body {
  background-color: #ffffff;
  color: #333333;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html body .container-fluid, html body container, html body .row {
  padding: 0;
  margin: 0;
}
html body .container-fluid.main {
  position: relative;
  left: 0;
  top: 0;
  min-height: 100%;
  border-bottom: 2px solid #00b32d;
}
html body .container {
  width: 100%;
  max-width: 750px;
}
html body .container .row {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 1em auto;
}
html body .bamboo {
  position: fixed;
  right: 0;
  bottom: 0;
  background: url("../bamboo_place.jpg") no-repeat;
  background-position: right bottom;
  width: 20%;
  height: 100%;
  background-size: 100% auto;
}
html body p, html body li {
  font-family: Lato, verdana, sans-serif;
  line-height: 1.5em;
}
html body h1 {
  font-family: Josefin Slab, courier, serif;
}
html body h2 {
  font-family: Lobster, courier, cursive;
}
html body h3, html body h4, html body h5, html body h6 {
  font-family: Karla, courier, serif;
}
html body h1, html body h2 {
  text-align: center;
}
html body a {
  text-decoration: none;
  color: #a36629;
}
html body a:hover {
  text-decoration: none;
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
html body a:focus {
  text-decoration: none;
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
html body a:active {
  text-decoration: none;
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
html body br {
  font-family: sans-serif;
}
html body .emph {
  text-transform: uppercase;
}
html body .date {
  font-size: 0.7em;
  color: #666666;
  margin-bottom: 10px;
}
html body .small {
  font-size: 0.7em;
  margin-top: 4px;
}

nav.navbar.navbar-default {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #f2e6d9;
}
nav.navbar.navbar-default .container .row .navbar-header {
  padding-left: 100px;
  height: 80px;
  margin-left: 0;
  background: url("../panda_place.jpg") no-repeat;
  background-position: left center;
  background-size: auto 100%;
}
nav.navbar.navbar-default .container .row .navbar-header a {
  font-family: Lobster, courier, cursive;
  color: #d2a679;
  font-weight: bold;
  font-style: italic;
  font-size: 2.8em;
  margin-left: 0;
}
nav.navbar.navbar-default .container .row .navbar-nav {
  float: right;
}
nav.navbar.navbar-default .container .row .navbar-nav a {
  line-height: 40px;
  font-family: Josefin Slab, courier, serif;
  color: #444444;
  text-transform: uppercase;
  font-weight: bold;
}
nav.navbar.navbar-default .container .row .navbar-nav a:hover {
  color: #3434b7;
  text-decoration: underline;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
nav.navbar.navbar-default .container .row .navbar-nav a:focus {
  color: #3434b7;
  text-decoration: underline;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
nav.navbar.navbar-default .container .row .navbar-nav a:active {
  color: #3434b7;
  text-decoration: underline;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
nav.navbar.navbar-default .container .row .navbar-brand:focus {
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
nav.navbar.navbar-default .container .row .navbar-brand:hover {
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
nav.navbar.navbar-default .container .row .navbar-brand:active {
  color: #3434b7;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}

main {
  opacity: 0.99;
}
main .container-fluid {
  opacity: 0.99;
  min-height: 100%;
}
main .content {
  background: rgba(235, 235, 225, 0.5);
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  margin: 40px auto 80px;
  padding: 0 40px 40px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: 1em;
}
footer .social {
  text-align: center;
}
footer .social:first-child {
  margin-top: 2.4em;
}
footer .social p {
  font-size: 1.2em;
}
footer .social i {
  margin-right: 1em;
  font-size: 2em;
}

.post {
  padding: 10px 0;
  border-top: 1px solid #444444;
}
.post:first-child {
  border-top: 0;
}
.post h2 {
  font-family: Karla, courier, serif;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0;
}
.post h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.post h4 {
  margin-top: 2em;
}
.post img {
  max-width: 500px;
  margin: 0 auto 10px;
  display: block;
  border: 0;
  text-align: center;
}
.post li {
  margin-bottom: 8px;
}
.post .caption {
  font-size: 0.7em;
  color: #666666;
  text-align: center;
  font-style: italic;
}
.post .return {
  text-align: right;
  font-family: Josefin Slab, courier, serif;
  text-transform: uppercase;
}
.post .return a {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.post .return a:focus {
  background-color: #3434b7;
  color: #ffffff;
}
.post .return a:hover {
  background-color: #3434b7;
  color: #ffffff;
}
.post .return a:active {
  background-color: #3434b7;
  color: #ffffff;
}
.post .return i {
  font-size: 1.1em;
}

.doodle {
  text-align: center;
}
.doodle .panel {
  padding: 2.8em;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.doodle .picture-container {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}
.doodle .picture-container p {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 2em auto;
}
.doodle #picture {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}
.doodle .arrow-container {
  width: 100%;
  color: #008040;
  margin: 10px auto;
}
.doodle .arrow-container .arrow {
  width: 50%;
  display: inline;
  cursor: pointer;
}
.doodle .arrow-container .arrow#prev {
  float: left;
  text-align: left;
}
.doodle .arrow-container .arrow#next {
  float: right;
  text-align: right;
}
.doodle .calendar {
  margin: 0 auto;
  font-size: 0.6em;
  color: #616161;
  font-weight: bold;
}
.doodle .calendar td {
  padding: 5px 0 10px;
  margin: 2.4em;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  opacity: 0.25;
}
.doodle .calendar td.selected {
  opacity: 1;
  color: #333333;
}
.doodle .calendar-display {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  overflow: hidden;
  margin-bottom: 80px;
}
.doodle .calendar-display .calendar-scroll {
  position: relative;
  left: 0;
  top: 0;
  width: 7200px;
  height: 600px;
}
.doodle .calendar-display .calendar-scroll .month {
  position: absolute;
  top: 0;
  width: 600px;
  height: 800px;
}
.doodle .calendar-display .calendar-scroll .month#jan {
  left: 0px;
}
.doodle .calendar-display .calendar-scroll .month#feb {
  left: 600px;
}
.doodle .calendar-display .calendar-scroll .month#mar {
  left: 1200px;
}
.doodle .calendar-display .calendar-scroll .month#apr {
  left: 1800px;
}
.doodle .calendar-display .calendar-scroll .month#may {
  left: 2400px;
}
.doodle .calendar-display .calendar-scroll .month#jun {
  left: 3000px;
}
.doodle .calendar-display .calendar-scroll .month#jul {
  left: 3600px;
}
.doodle .calendar-display .calendar-scroll .month#aug {
  left: 4200px;
}
.doodle .calendar-display .calendar-scroll .month#sep {
  left: 4800px;
}
.doodle .calendar-display .calendar-scroll .month#oct {
  left: 5400px;
}
.doodle .calendar-display .calendar-scroll .month#nov {
  left: 6000px;
}
.doodle .calendar-display .calendar-scroll .month#dec {
  left: 6600px;
}
.doodle .calendar-display .calendar-scroll .month h3 {
  margin-bottom: 1em;
  cursor: pointer;
}
.doodle .calendar-list {
  position: relative;
  list-style: none;
  padding: 1em 0;
}
.doodle .calendar-list li {
  display: inline;
  margin-right: 8px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
}
.doodle .calendar-list li.active {
  color: #444444;
}
.doodle .calendar-list #calendar-prev, .doodle .calendar-list #calendar-next {
  font-size: 2.4em;
}

.update {
  margin-top: 40px;
  border-top: 1px solid #f2e6d9;
}
.update h2 {
  margin-top: 40px;
}
.update h3 {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0;
}

.archive {
  padding: 10px;
  border-top: 1px solid #444444;
}
.archive:first-child {
  border-top: 0;
}
.archive h2 {
  font-family: Karla, courier, serif;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  nav.navbar.navbar-default {
    margin-bottom: 0;
  }
  nav.navbar.navbar-default .container .row .navbar-header {
    padding-left: 80px;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-toggle {
    border: 0;
    background: transparent;
    padding: 12px 10px;
    margin-top: 10px;
    margin-right: 1em;
    margin-bottom: 0;
    transform: rotate(0deg);
    transition: transform 0.7s;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-toggle i {
    font-size: 2.8em;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-toggle.collapsed {
    transform: rotate(90deg);
    transition: transform 0.7s;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-brand {
    padding-top: 28px;
    padding-left: 0;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:hover {
    background-color: #3434b7;
    border-radius: 5px;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:hover a {
    color: #ffffff;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:focus {
    background-color: #3434b7;
    border-radius: 5px;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:focus a {
    color: #ffffff;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:active {
    background-color: #3434b7;
    border-radius: 5px;
  }
  nav.navbar.navbar-default .container .row .navbar-header .navbar-nav li:active a {
    color: #ffffff;
  }

  header {
    background: rgba(235, 235, 225, 0.5);
    border-bottom: 2px solid #f2e6d9;
  }

  main .content {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    padding: 0.6em;
  }
  main .update {
    padding-top: 40px;
  }
  main .post header {
    background: transparent;
    border-bottom: 0;
  }
  main .post .return a {
    background-color: #3434b7;
    color: #ffffff;
  }
  main .post img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  main .post .caption {
    font-size: 1em;
  }
  main .doodle .panel {
    padding: 1em;
  }
  main .doodle .calendar-display {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  nav.navbar.navbar-default .container .row .navbar-header .navbar-brand {
    font-size: 2.4em;
  }
}

/*# sourceMappingURL=style.css.map */
